<p>Warning: Importing will override this NPC's current config, including it's memory and chat history. You can make a backup by exporting first.</p>
<input type="file" id="import-file" accept=".json" />
